<ion-content>
  
  <ion-grid>
    
    <ion-row id="logo">
      <ion-col>
        <ion-img  src="../assets/logo.svg"></ion-img>
      </ion-col>
    </ion-row>

    <ion-row id="segment" mode="md">
      <ion-col>
        <ion-toolbar>
          <ion-segment value="signin" [(ngModel)]="type" (ionChange)="segmentChanged($event)" scrollable>
            <ion-segment-button value="signin">
              <ion-label>SIGN IN</ion-label>
            </ion-segment-button>
            <ion-segment-button value="signup">
              <ion-label>SIGN UP</ion-label>
            </ion-segment-button>
          </ion-segment>
        </ion-toolbar>
      </ion-col>
    </ion-row>

    <div [ngSwitch]="type">

        <ion-row id="form" *ngSwitchCase="'signin'">
          <ion-col>
            <form >
        
              <div>
                <ion-text position="floating" id="tag">Email ID</ion-text>
              </div>
          
              <div>
                <ion-input placeholder="Enter Email ID"></ion-input>
                <ion-item lines="none" style="margin-top:-10px;margin-left:-10px;">
                  <ion-icon style="margin-right: 5px;" name="alert-circle"></ion-icon>
                  <ion-text class=“danger” style="color:red;">Incorrect Email ID.</ion-text>
                </ion-item>
              </div>
          
              <div style="margin-top: -15px;">
                <ion-text position="floating" id="tag">Password</ion-text>
              </div>
          
              <div>
                <ion-input type="password" placeholder="Enter Password"></ion-input>
                <ion-item lines="none" style="margin-top:-10px;margin-left:-10px;">
                  <ion-icon style="margin-right: 5px;" name="alert-circle"></ion-icon>
                  <ion-text class=“danger” style="color:red;">Incorrect Password.</ion-text>
                </ion-item>
              </div>
              
            
              <div class="ion-text-center" id="forgotPassword">
                
                  <a class="small-text">Forgot Password?</a>
                
              </div>
              
              <div>
                <ion-button type="submit" expand="block">Sign In</ion-button>
              </div>
                    
                
              
            </form>
          </ion-col>
        </ion-row>

        <ion-row *ngSwitchCase="'signup'">
          <ion-col>
            <form>
              <div>
                <ion-text position="floating" id="tag">Name</ion-text>
              </div>
              <div>
                <ion-input placeholder="Enter Full Name"></ion-input>     
              </div>

              <div>
                <ion-text position="floating" id="tag">Email ID</ion-text>
              </div>
              <div>
                <ion-input placeholder="Enter Email ID" type="email"></ion-input>     
              </div>

              <div>
                <ion-text position="floating" id="tag">Mobile Number</ion-text>
              </div>
              <div>
                <ion-input placeholder="Enter Mobile Number"></ion-input>     
              </div>

              <div>
                <ion-text position="floating" id="tag">Password</ion-text>
              </div>
              <div>
                <ion-input placeholder="Enter Password" type="password"></ion-input>     
              </div>

              <div>
                <ion-text position="floating" id="tag">Confirm Password</ion-text>
              </div>
              <div>
                <ion-input placeholder="Re-enter Password" type="passsword"></ion-input>     
              </div>

              <div>
                <a class="small-text" id="Policytext">By Loggin In you, You Agree To Our Privacy Policy</a>
              </div>
              

            </form>
          </ion-col>
        </ion-row>

      
      
    </div>
  </ion-grid>  
</ion-content>